<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="domainAssembly" value="Diga.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add key="domainNamespace" value="Diga.Domain"/>
        <add key="dataContractFormat" value="Diga.Domain.Service.DataContracts.{0}, Diga.Domain.Service, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>

        <add key="serviceAssembly" value="Diga.Domain.Service, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add key="serviceNamespace" value="Diga.Domain.Service.DataContracts"/>
        <add key="domainFormat" value="Diga.Domain.{0}, Diga.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </appSettings>

    <system.serviceModel>
        <client>
            <!--address="http://localhost:9000/services/diga"-->
            <!--address="http://localhost:80/DigaService.svc"-->
            <!--address="http://clcdiga.cloudapp.net/DigaService.svc"-->
            <endpoint name="DigaService_DualHttpEndpoint"
                      address="http://localhost:81/DigaService.svc"
                      binding="netHttpBinding"
                      bindingConfiguration="DefaultDuplexBinding"
                      contract="Diga.Domain.Service.Contracts.IDigaService"/>
        </client>
        <bindings>
            <netHttpBinding>
                <binding name="DefaultDuplexBinding" />
            </netHttpBinding>
        </bindings>
    </system.serviceModel>

    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5"/>
    </system.web>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>