<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="domainAssembly" value="Diga.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add key="domainNamespace" value="Diga.Domain"/>
        <add key="dataContractFormat" value="Diga.Domain.Service.DataContracts.{0}, Diga.Domain.Service, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>

        <add key="serviceAssembly" value="Diga.Domain.Service, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add key="serviceNamespace" value="Diga.Domain.Service.DataContracts"/>
        <add key="domainFormat" value="Diga.Domain.{0}, Diga.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </appSettings>

    <!--<system.serviceModel>
        <extensions>
            <bindingExtensions>
                <add name="netHttpBinding" type="System.ServiceModel.Configuration.NetHttpBindingCollectionElement, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            </bindingExtensions>
        </extensions>

        <behaviors>
            <serviceBehaviors>
                <behavior name="DigaServiceBehavior">
                    <serviceMetadata httpGetEnabled="True"/>
                    <serviceDebug includeExceptionDetailInFaults="True"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>-->
    
    <system.web>
        <compilation debug="true" targetFramework="4.5"/>
        <httpRuntime targetFramework="4.5"/>
        <customErrors mode="Off"/>
    </system.web>
    
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>